*{
    box-sizing: border-box;
}

.mainDiv{
    background-color: #121212;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
}

.boxShadowBox1{
    height: 10px;
    width: 10px;
    margin: 100px;
    background-color: yellow;
    border-radius: 50%;
    animation: spin 2s ease-in-out infinite alternate;
    transition: 2sec linear;
    box-shadow: -50px 0 yellow, 50px 0 yellow, 0 50px yellow, 0 -50px yellow;
}

.linearGrad{
    height: 100px;
    width: 200px;
    background-image: linear-gradient(to bottom, orange 0%, orange 33.3%,white 33.3%,white 66.6%,green 66.6%, green 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px gold;
}
.flagRound{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    border: 5px solid blue;
}




















@keyframes spin {
    from{
        transform: rotate(0deg) scale(0.8);
    }
     to{
        transform: rotate(360deg) scale(1.2);
        
    }
}