.mainDiv{
    background-color: #121212;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 50px;
    width: 50px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: -200px 0 yellow, 200px 0 yellow, 0 200px yellow, 0 -200px yellow
}