.mainDiv{
    background-color: grey;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.box{
    height: 50px;
    width: 50px;
    background-color: yellow;
    margin: auto;
}